body {
  background-image: linear-gradient(to right, #3ff0b5, #1ad678);
}


.App {
  text-align: center;

}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.login-btn {
  height: 50px;
  width: 130px;
  color: #fff;
  border-radius: 10px;
  background: rgb(231, 174, 236);
  border: none;
  font-size: 30px;
  transition: 0.5s;

}

.login-form {
  border: 1px solid rgb(98, 0, 255);
  width: 50%;
  display: grid;
margin-top: 10%;
margin-left: 10%;
  padding: 3px;
  margin-top: 10px;
  margin: 2px;
 
}

button{
  margin-top: 10px;
}


.nav-links li{
  display: inline-block;
  padding: 10px;
}
.nav-links{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}
.nav-links li a{
  color: #fff;
  padding: 3px;
  text-decoration: none;
}


.container{
  display: flex;
  margin-left: 50px;
}

.booked{
  margin-left: 200px;
}

tbody td{
  border: 1px solid rebeccapurple;
}