body {
  /* background-image: linear-gradient(to right, #da6199, #b1cabe); */
}


.App {
  text-align: center;

}


.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.login-btn {
  height: 50px;
  width: 130px;
  color: #fff;
  border-radius: 10px;
  background: rgb(231, 174, 236);
  border: none;
  font-size: 30px;
  transition: 0.5s;

}

.login-form {
  border: 4px solid black;
  width: 25%;
  align-items: center;
  border-radius:10px ;

  display: grid;
margin-top: 10%;
margin-left: 10%;
  padding: 50px;
  margin-top: 10px;
  margin: 2px;
 
}
.login-fom1{
  width:100%;
  height: 100vh;
}
.login-btn{
  width:"100px";
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: green;
  margin-left: 100px;
  color: black;
  
}
.login-btn:hover{
  background-color: red;
  color: white;
}
.down-login-register-btn{
  width:"100px";
  padding: 10px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: green;
  margin-left: 10px;
  color: black;
}
.down-login-register-btn:hover{

  background-color: yellow;
  

}

button{
  margin-top: 10px;
}


.nav-links li{
  display: inline-block;
  padding: 10px;
}
.nav-links{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}
.nav-links li a{
  color: #fff;
  padding: 3px;
  text-decoration: none;
}

input{
  width: 200px;
  height: 20px;
  border-radius: 5px;
}

.container{
  display: flex;
  margin-left: 50px;
}

.booked{
  margin-left: 200px;
}

tbody td{
  border: 1px solid rebeccapurple;
}

.footer{
  border: 1px solid black;
  background-color:#61dafb;
  width: 100%;
  height: 50px;
  position: fixed;
  position: absolute;
  bottom: 0;
}